
/* -----------------
fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* --------------
 variables 
 ------------*/
:root{
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;
}

/* ------------------
 global settings 
----------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white-light);
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-weight: 700;
    color: var(--white);
}
h2{
    font-weight: 500;
    color: var(--white);
}
h3,
h4,
h5,
h6{
    font-weight: 500;
    color: var(--white);
}
p{
    font-size: 16px;
}
.container{
   max-width: 1200px;
   margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
}
.sec-padding{
    padding:80px 0;
}
section{
    overflow: hidden;
}

/* section title */
.section-title{
    width: 100%;
    padding:0 15px;
    text-align: center;
    margin-bottom: -30px;
}
.section-title h2{
    font-size: 35px;
    text-transform: capitalize;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 34px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
    text-transform: capitalize;
}

/* buttons */
.btn{
    display: inline-block;
    padding:10px 30px;
    background-color:transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border:none;
}
.btn-default{
    border: 2px solid var(--main-color);
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main-color);
}

.btn2{
    display: inline-block;
    padding:10px 30px;
    background-color:transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;

}
.btn-default2{
    border: 2px solid var(--main-color);
}
.btn-default2:hover{
    color: var(--white);
    background-color: var(--main-color);
}

input.left {
    float: left;
  }


/* animation keyframes */
@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes pageLoader{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}

/* --------------------
 page loader 
 ------------*/
.page-loader{
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    z-index: 999;
    transition: all 0.6s ease;
}
.page-loader.fade-out{
    opacity: 0;
}
.page-loader::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: var(--main-color);
    left: calc(50% - 50px);
    top:calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}

/*-------------------- complaint section ------------*/

.register{
    position: relative;
    overflow: hidden;
}
.register::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.register .table-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/complaint.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
}

.register .min-vh-100{
    padding: 80px 0;
}
#content1{
    width: 90%;
    margin: auto;
}

form{
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 10px;
    margin: auto;
    margin-top: 2px;
    padding-bottom: 20px;
}

form .box{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

#option1 select{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    border: 0;    
}

form .box2{
    width: 98.5%;
    height: 15em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
